/* portfolio-project/src/index.css: */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  place-items: center;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Define variables for color scheme */
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --text-color: #213547;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #242424;
    --text-color: rgba(255, 255, 255, 0.87);
  }
}


